body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}
#transection-area{
    display: none;
}
.deposite{
    margin: 5px;
    background-color: slateblue;
}
.withdrow{
    background-color: tomato;
}
.balance{
    background-color: rgb(196, 196, 30);
}
.status{
    margin: 0 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}